.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: hsl(0, 0%, 20%);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    letter-spacing: 2px;
}

.navbar ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    padding-right: 0px;
    padding-left: 10px;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 15px;
    display: flex;
}

.navbar a:hover {
    background-color: hsl(0, 0%, 28%);
}


.navbar li {
    float: right;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
}

.logo img {
    width: 90px;
    height: 45px;
}

.badge {
    background-color: #4d4d4d;
    color: white;
    padding: 4px 8px;
    text-align: center;
    border-radius: 5px;
    margin-top: -4px;
  }
